@media (orientation: portrait) {
    body{
        background: url(imagenes/fondo-mobile.gif) center no-repeat fixed;
        background-size: cover;
        position: absolute;
    }    
    ul {
        margin: 10px 10px;
    }
    a:hover{
        color: rgb(255, 154, 1)
    }
    li {
        list-style: none;
    }
}

@media (orientation: landscape) {
    body{
        background: url(imagenes/fondo-rest.gif) center no-repeat fixed;
        background-size: cover;
        position: absolute;
    }
    a {
        color:rgb(255, 154, 1);
    }
    a:hover {
        color:rgb(255, 154, 1);
    }
    li {
        list-style: none;
        margin: 32px
    }
    li:hover::before{
        content: '';
        width: 32px;
        height: 32px;
        background-image: url(imagenes/fire.gif);
        display: inline-block;
        background-size: 32px;
    }
}
